<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/stylesheets/aui.css">
    <style type="text/css">
        @media screen and (min-width: 414px) {
            body, #footer {
                width: 414px;
                margin: auto;
                border: 1px solid #eee;
            }
        }

        .aui-bar-nav .aui-title {
            font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu
        }

        #demo {
            width: 4rem;
            height: 4rem;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -2rem;
            margin-top: -2rem;
            background-color: #e0e0e0;
            border-radius: 50%;
            line-height: 4rem;
            text-align: center;
            color: #212121;
            font-size: 0.6rem;
        }

        .homeWrapper {
            margin-bottom: 2.2rem;
        }
    </style>
</head>
<body>
<section class="aui-content" id="app">
    <header class="aui-bar aui-bar-nav aui-bar-light">
        <div class="aui-title">海大视频小站</div>
    </header>
    <div v-show="page==='home'" class="homeWrapper">
        <div class="aui-card-list" v-for="item in videos">
            <div class="aui-card-list-header">
                {{item.videoName}}
            </div>
            <div class="aui-card-list-content" id="videoWrap">
                <video :src="item.videoUrl" controls="controls" :width="videoWidth" style="margin-left: 15px"></video>
            </div>
            <div class="aui-card-list-footer">
                发表于 {{item.videoTime}}
            </div>
        </div>
    </div>
    <div v-if="page==='courses'">
        <div class="aui-content aui-margin-b-15">
            <ul class="aui-list aui-media-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title">多张图片列表一</div>
                        <p>借助栅格来实现图片列表</p>
                        <div class="aui-row aui-row-padded">
                            <div class="aui-col-xs-4">
                                <img src="../image/demo1.png"/>
                            </div>
                            <div class="aui-col-xs-4">
                                <img src="../image/demo2.png"/>
                            </div>
                            <div class="aui-col-xs-4">
                                <img src="../image/demo3.png"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div v-if="page==='person'">
        <div class="aui-content aui-margin-b-15">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label-icon">
                            <i class="aui-iconfont aui-icon-mobile"></i>
                        </div>
                        <div class="aui-list-item-label">
                            账号
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" placeholder="输入账号" v-model="username">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label-icon">
                            <i class="aui-iconfont aui-icon-lock"></i>
                        </div>
                        <div class="aui-list-item-label">
                            密码
                        </div>
                        <div class="aui-list-item-input">
                            <input type="password" placeholder="输入密码" v-model="password">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
                        <!--<div class="aui-btn aui-btn-info aui-margin-r-5" @click="reset">清空</div>-->
                        <div class="aui-btn aui-btn-danger aui-margin-l-5" @click="operate('login')">登录</div>
                        <div class="aui-btn aui-btn-success aui-margin-l-5" @click="operate('register')">注册</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer class="aui-bar aui-bar-tab" id="footer">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <i class="aui-iconfont aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-calendar"></i>
        <div class="aui-bar-tab-label">分类</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <div class="aui-dot"></div>
        <i class="aui-iconfont aui-icon-my"></i>
        <div class="aui-bar-tab-label">我的</div>
    </div>
</footer>
<script type="text/javascript" src="/lib/api.js"></script>
<script src="/dist/js/a.js"></script>
</body>
</html>
