<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>海大视频小站</title>
    <link rel="stylesheet" href="/stylesheets/aui.css">
    <link rel="stylesheet" href="/stylesheets/nep.min.css">
    <link rel="stylesheet" href="/stylesheets/ydui.px.css">
    <style type="text/css">
        @media screen and (min-width: 415px) {
            body, #footer {
                width: 414px;
                margin: auto !important;
                border: 1px solid #eee;
            }

            .episodes table th div {
                width: 129px !important;
                height: 50px !important;
            }

            .introduce p {
                font-size: 15px !important;
                height: 64px !important;
            }

            video {
                height: 100px;
            }
        }

        @media screen and (max-width: 319px) {
            body, #footer {
                width: 320px;
            }
        }

        .homeWrapper {
            margin-bottom: 3.2rem !important;
        }

        .aui-bar-nav .aui-title {
            font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu
        }

        #homeVideo_html5_api {
            margin-left: 0 !important;
        }

        .introduce p {
            font-size: .7rem;
            color: #86899F;
            font-weight: 300;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            word-break: break-all;
            height: 3rem;
            overflow: hidden;
            margin-top: 0.2rem;
            text-overflow: ellipsis;
        }

        .episodes {
            height: 22vw;
            overflow-x: scroll;
        }

        .episodes table th div {
            width: 31vw;
            height: 12vw;
            border-radius: 5%;
            margin: 2vw 2vw 2vw 0;
            border: 1px solid #eee;
        }

        .episodes table th div span:first-child {
            color: #404144;
            font-weight: 400;
        }

        .episodes table th div span {
            display: block;
            height: 50%;
            padding: .1rem;
            margin: 0 .2rem;
            text-align: center;
            font-size: .6rem;
            font-weight: 300;
            color: #999;
        }

        .mask {
            width: 100%;
            height: 100%;
            z-index: 100;
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, .25);
        }

        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s
        }

        .fade-enter, .fade-leave-active {
            opacity: 0
        }
    </style>
</head>
<body>
<div id="main">
    <section class="aui-content" id="app" v-if="isQQ">
        <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="display: none">
            <div class="aui-title">海大视频小站</div>
        </header>

        <page-home :page="page" :width="videoWidth"></page-home>
        <page-category :page="page" :width="videoWidth" :players="players" ref="idList"></page-category>
        <page-person :page="page"></page-person>

        <transition name="fade">
            <div class="mask" v-show="maskShow"></div>
        </transition>
    </section>

    <footer class="aui-bar aui-bar-tab" id="footer" style="display: none">
        <div class="aui-bar-tab-item aui-active" tapmode>
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-bar-tab-label">最新</div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-calendar"></i>
            <div class="aui-bar-tab-label">分类</div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <div class="aui-dot"></div>
            <i class="aui-iconfont aui-icon-my"></i>
            <div class="aui-bar-tab-label">我的</div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="/lib/api.js"></script>
<script type="text/javascript" src="/dist/js/a.js"></script>
<script type="text/javascript" src="/lib/nep.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/cachep2p/cachep2p.min.js"></script>
</body>
</html>
